*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.container:hover{
    background-color:rgba(170, 184, 194, 0.1);
}

.item1{
    width: 5%;
    min-width: 75px;
}

.item2{
    width: 95%;
    padding: 0 15px;
}

.profileImage{
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    width: 100%;
    height: auto;
}

.image{
    display: flex;
    margin: auto;
    justify-content: center;
}

.button{
    margin: 0 10px;
}

.circularImage{
    border-radius: 50%;
}

.screenName{
    color:gray;
}

.verified{
    font-size: 18px;
}

.tweetImage{
    margin: 10px auto;
    border-radius: 5px;
    border: solid 1px gray;
}

.tweetImageContainer{
    width: 100%;
}

@media screen and (max-width:550px) {
    .tweetImage{
        width: 100%;
        min-width: 300px;
    }
}

.tweet-link {
  color : inherit;
  text-decoration: none;
}
