<mat-card class="container">
    <mat-card-content class="item1">
        <section>
            <img class="profileImage circularImage" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo">
        </section>
    </mat-card-content>
    <section class="item2">
        <mat-card-content>
            <header>
                <h4>jasjldk<span> @Juan Perez - hora</span></h4>
            </header>

            <section>
                {{tweet}}
            </section>

            <!--<img src='{{tweet.image}}' alt="" *ngIf={{tweet.image}}-->
        </mat-card-content>

        <mat-card-content>
            <button mat-mini-fab class="button" color="primary">
                <mat-icon>favorite</mat-icon>
            </button>
            <span>1</span>
            <button mat-mini-fab class="button" color="primary">
                <mat-icon>autorenew</mat-icon>
            </button>
            <span>1</span>
            <button mat-mini-fab class="button" color="primary">
                <mat-icon>comment</mat-icon>
            </button>
            <span>1</span>
        </mat-card-content>
    </section>
</mat-card>
