<section>
    <h2>Timeline</h2>
    <!--*ngFor="let tweet of timeline"-->
    <section>
        <!--{{tweet}}-->
        <app-tweet [tweet]="tweet"></app-tweet>
    </section>
</section>

<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/nav">Hola
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              First
            </ng-template>
        </mat-tab>
    </a>
    <a mat-tab-link routerLink="/nav"></a>
    <a mat-tab-link routerLink="/nav"></a>
</nav>
  
<router-outlet></router-outlet>