<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        <div *ngIf="link.label==='Home'"><mat-icon>home</mat-icon></div>
        <div *ngIf="link.label==='Search'"><mat-icon>search</mat-icon></div>
        <div *ngIf="link.label==='Settings'"><mat-icon>settings</mat-icon></div>
    </a>
</nav>
<router-outlet></router-outlet>

<section>
    <!--*ngFor="let tweet of timeline"-->
    <section>
        <!--{{tweet}}-->
        <app-tweet [tweet]="tweet"></app-tweet>
    </section>
</section>